.app-info {
    padding: 25px;
    background-color: #897d73;
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgb(83, 76, 76);
    color: #fff;
    text-align: center;
}

.app-info h1{
    font-size: 60px;
    font-weight: 600;
    font-family: "Gill Sans";
    color:  rgb(71, 63, 63);
}