.add-form {
    margin-top: 20px;
    input {
        width: 950px;
        margin-right: 20px;
    }
}

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #897d73;
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgb(83, 76, 76);
    color:  rgb(71, 63, 63);
}

.app-add-form h3 {
    font-family: "Gill Sans";
}

.app-add-form input {
    font-size: 20px;
    border: 0;
    font-family: "Gill Sans";
}